.order-card{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 14px;
    border-radius: 14px;
    background-color: #222732;
}
.order-price, .order-address, .car-name{
    color: #fff;
}
.pending{
    background-color: #FFE3E3;
    color: #FF5050;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 500 ;
}
.shipped{
    background-color: #C6FFE0;
    color: #0B9A4D;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 500 ;
}
.order-price{
    font-size: 18px;
    font-weight: 500;
}
.car-name{
    font-size: 17px;
    line-height: 21px;
}
.order-model-year{
    position: relative;
    top: -4px;
}
.order-email, .order-buttom{
    font-size: 14px;
    font-weight: 500;
    color: #99a1b2;
    line-height: 28px;
}